// default style

body {
  margin: 0;
  padding: 0;
  font-family: roboto, arial, helvetica;
  color: black;
  background-color: gray;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  cursor: default;  
}


//section a
#practitioners-section-a .practitioners-content-wrap {
  position: relative;
  background-color: #334355;
  padding: 1em;
  display: flex;
  color: white;
  align-items: center;
  justify-content: start;
  flex-flow: row wrap;
}
#practitioners-section-a .practitioners-content-wrap > * {
  margin: 0em 0.5em 0em 0.5em;
}
#practitioners-section-a .practitioners-content-wrap > section {
  position: absolute;
  right: 0em;
  display: flex;
  align-items: center;
}
#practitioners-section-a .practitioners-content-wrap > section h5 {
  font-size:0.85em;
  margin: 0em 1em 0em 1em;
}
#practitioners-section-a .practitioners-content-wrap >section h5:nth-of-type(2) {
  background-color:#86dcd8;
  color: black;
  padding: 1em;
  border-radius: 8px;
}
#practitioners-section-a .practitioners-content-wrap #img-wrap {
  width: 75px;
  height: 75px;
}
#practitioners-section-a .practitioners-content-wrap img {
  height: 100%;
}
//section b
#practitionerSignupForm{
  background-color: #ceced4;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.form-practitioner{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.signUp{
  border-radius: 8px;
  margin: 3px;
}
#background-img{
  background-image: url('./images/therapist.jpg');
  padding: 15em;
  background-repeat: no-repeat;
  overflow: hidden;
}

.practitioners-form h1{
  color: #334355;
  font-size: 1.5em;
  font-weight: bold;
}

.practitioners-form h4{
  color: white;
  font-size: 1em;
}

.practitioners-form h5{
  background-color:#86dcd8;
  color: black;
  padding: 1em;
  border-radius: 8px;
  font-size: 0.75em;

}

//section c
#practitioners-section-c .practitioners-content-wrap {
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#practitioners-section-c .practitioners-content-wrap > .flex-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
}

//section d 

#practitioners-section-d .practitioners-content-wrap {
  background-color:#334355;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#practitioners-section-d .practitioners-content-wrap > h2{
 color: white;
 margin: 1em;
}

#practitioners-section-d .practitioners-content-wrap > .flex-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin: 1em;
  width: 70%;
  background-color: white;
}
#practitioners-section-d .practitioners-content-wrap > .flex-item > h4 {
  margin-left: 0.5em;
  margin-top: 0em;
}
#practitioners-section-d .practitioners-content-wrap > .flex-item > h4:nth-of-type(1) {
 color: turquoise;
}
#practitioners-section-d .practitioners-content-wrap > .flex-item > #image-wrap {
  height: 300px;
  width: 100%;
  background-color: gray;
}

//section e 
#practitioners-section-e .practitioners-content-wrap {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding: 2em;
  font-size: 0.75em;
  text-align: center;
}






@mixin desktop {
  @media only screen and (min-width: 768px){
      @content;
  }
}



@include desktop {
  //section c
  #practitioners-section-c .practitioners-content-wrap {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 5em;
    height: 40vh;
  }
  #practitioners-section-c .practitioners-content-wrap > h2 {
    position: absolute;
    top:1em;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  #practitioners-section-c .practitioners-content-wrap .flex-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1em;
    text-align: center;
  }
  //section d
  #practitioners-section-d .practitioners-content-wrap {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  #practitioners-section-d .practitioners-content-wrap > h2 {
    position: absolute;
    top: 0em;
  }
  #practitioners-section-d .practitioners-content-wrap .flex-item {
   
    margin-top: 10%;
  }
  #practitioners-section-e .practitioners-content-wrap {
    padding: 5em;
    font-size: 1.25em;
  }
  

  
}

