*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav1{
  background-color: #334355;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anchorTag{
  
  text-decoration: none;
  color: white;
}
.anchorTag:Hover{
  color:#86DCD8
}

.tealBtn{
  background-color:#86DCD8;
  background: #86DCD8;
  border-radius: 6px;
}
